snippet templ "template"
<template>
${1}
</template>
endsnippet

snippet i "es6 require" b
import ${1} from '${2}';
endsnippet

snippet ed "es6 export default" b
export default ${1};
endsnippet

snippet for
for (var ${1} = 0; $1 < ${2}; ++$1) {
  ${0}
}
endsnippet

snippet script "script"
<script>
export default {
  ${1}
}
</script>
endsnippet

snippet styl "style"
<style lang='stylus'>
${1}
</style>
endsnippet

snippet function "function"
function ${1}() {
  ${0}
}
endsnippet
